<!DOCTYPE html>
<html lang="es">
<head>
	<!--Declaración de los caracteres, la descripción, los "robots", el autor, el lenguaje, las "arañas" y la categoria-->
	<meta charset="UTF-8" >
    <meta name="description" content="Proyecto final HTML-CSS" >
    <meta name="robots" content="NOFOLLOW" >
    <meta name="Author" content="Jose Antonio Gomez Torres" >
    <meta name="keywords" content="proyecto_final,html,css,practica_final" >
    <meta name="lang" content="es" >
    <meta name="revisit-after" content="7 days" >
    <meta name="category" content="proyecto_final" >
	<!-- Declaración de fichero de estilos -->
	<link rel="stylesheet" type="text/css" href="../estilos/estilos.css">
	<!-- Declaración del favicon -->
	<link rel="icon" type="imagen/jpeg" href="../img/LOL.jpeg">
	<!-- Titulo de la página-->
	<title> LEAGUE OF LEGEND - UDYR </title>
</head>

<body>
	<!-- Contenido de la cabecera(imagen) y del menú de navegación -->
	<header>
		<div>
			<img src="../img/LOLBanner.jpg" id="img_header" alt="imagen de cabecera" title="imagen de cabecera">		
		</div>

		<!--Menú de navegación con sus diferentes botones -->
		<nav>
			<div class="div_menu">
				<span class="boton_azul">
					<a href="../index.html" class="div_menu">Inicio</a>
				</span>

				<span class="boton_azul">
					<a href="./noticias.html" class="div_menu">Noticias</a>
				</span>
					
				<span class="boton_azul">
					<a href="./portfolio.html" class="div_menu">Galería</a>
				</span>

				<span class="boton_azul_principal">
					<a href="./contacto.html" class="div_menu">Contacto</a>
				</span>
				
				<span class="boton_azul">
					<a href="./presupuesto.html" class="div_menu">Registro</a>
				</span>
			</div>
		</nav>	
	</header>
	
	<div>
	<!--Div que contiene todo el contenido de la pagina principal-->
		<div id="div_principal">
			<article>
			<!--Contenido del cuerpo de la página de contacto -->
				
				<!--Este "header contiene el título"-->
				<header>
					<div>
						<h1>Oficina en Europa </h1>
					</div>
				</header>
				<!--Este div tiene el mapa directo a "Google Maps"-->
				<div id="mapa">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3306.444532716622!2d-118.4596375854836!3d34.03246642622081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb147c58ab95%3A0xd27aa3a914d492b4!2sRiot%20Games%20Inc.!5e0!3m2!1ses!2ses!4v1675714780757!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<br>
				<br>
				<!--Este div tiene la dirección completa en texto de la sucursal de la empresa-->
				<div>
					<h3>Si necesita contactar con nuestra sucursal en Estados Unidos:</h3>
					<br>
					<p id="parrafoContacto">Riot Games Inc. 12333 W Olympic Blvd, Los Angeles, CA 90064, Estados Unidos</p>
					<br>
					<br>
					<br>	
				</div>
			</article>
		</div>
	</div>

	<footer>
		<!--Div que contiene el pié de página.-->
		<div  id="div_footer">
			<!--Links de las redes sociales, ubicación de la empresa y el aviso legal-->
			<div id="redes">

				<a href="https://www.instagram.com/" title="página oficial de instagram">
					<img class="parrafoImagenes2" src="../img/instagram.jpg" alt="Red social Instagram">
				</a>
				
				<a href="https://www.facebook.com/" title="página oficial de facebook">
					<img class="parrafoImagenes2" src="../img/facebook.jpg" alt="Red social Facebook">
				</a>

				<a href="https://www.youtube.com/" title="página oficial de youtube">
					<img class="parrafoImagenes2" src="../img/youtube.jpg" alt="Red social Youtube">
				</a>

				<a href="https://www.twitter.com/" title="página oficial de twitter">
					<img class="parrafoImagenes2" src="../img/twitter.jpg" alt="Red social Twitter">
				</a>
				<br>
				<br>
				<p id="pFooter"> 
					<a href="#">Riot Games Inc. 12333 W Olympic Blvd, Los Angeles, CA 90064, Estados Unidos</a> 
				</p>
				<p class="preguntaNegrita" style="text-align: center;">™ & © 2023 <a href="https://www.leagueoflegends.com/es-es/">Riot Games</a>, Inc. Todos los derechos reservados. 
					Riot Games, League of Legends y PvP.net son marcas comerciales o marcas registradas de Riot Games, Inc. </p>
			</div>
		</div>
	</footer>

</body>

</html>